.Navbar-container{
    background-color: #3f3f3f;
    width:98%;
    padding:1%;
    display: flex;
}
.search-container{
    border-radius:.3125rem;
    width:200%;
    padding:1%;
}
.img-logo{
    width:9.375rem;
}
.img-logo-container{
    margin-left:6%;
}
.search-container-content{
    margin-left:13%;
    display: flex;
    width:36%;
}
.search-container-content img{
    width:25px;
}
.btn-search{
    background-color: #3c948b;
    width:33%;
    border-radius: 10%;
    margin-left: 1%;
    cursor: pointer;
    color:white;
}
.btn-search:hover{
    background-color: #93b9a1;
}
