.App {
    font-family: sans-serif;
    text-align: center;
  }
  .Navbar {
    min-height: 2rem;
    box-shadow: 0 0 0 0.1px;
    margin-top: 0;
  }
  .content {
    margin-top: 20px;
    padding: 0 25px;
    display: grid;
    grid-template-columns: 20% 80%;
  }
  .leftPanel {
    border: 1px solid #ededed;
    /* min-height: 700px; */
  }
  .filter__header {
    display: flex;
    padding: 0 15px;
    border-bottom: 1px solid #ededed;
  }
  .item-header {
    display: flex;
    font-size: 13px;
  }
  .item-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 4%;
    gap: 20px;
  }
  .leftPanel__container {
    height: auto;
  }
  .filter__category {
    font-weight: normal;
    display: grid;
    grid-template-columns: 95% 5%;
    padding: 15px;
    border-bottom: 1px solid #ededed;
  }

  .form-check-input:hover{
    background-color: red;
    cursor: pointer;
    color: white;
  }
  .icon{
    position: absolute;
    z-index: 1;
    color: #000;
    background-color: #d7d5e2;
    left: 5%;
    top: 2%;
    padding: 10px 4px 0px 4px;
    /* padding-top: 9px; */
    width: 28px;
    height: 28px;
    font-size: 19px;
    border-radius: 50%;
  }
  .slide-box{
    position: relative;
  }